DJANGO_SECRET_KEY=change-me-in-local-env
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

POSTGRES_DB=ne_ux
POSTGRES_USER=ne_ux
POSTGRES_PASSWORD=ne_ux
POSTGRES_HOST=db
POSTGRES_PORT=5432
